.footer{
    background-color: #212529;
}

.navbar-custom {
    transition: all 0.3s ease-in-out;
    height: 80px;
    background-color: #343a40;
  }

  .navbar-custom.shrink {
    height: 40px;
  }
